!!!
%html
  %head
    %meta{ charset: 'UTF-8' }
    %title= @title
    %link{ rel: 'stylesheet', href: '/sakkotan.css' }
    %script{ src: 'http://code.jquery.com/jquery-2.1.0.min.js' }
    %script{ src: '/sakkotan.js' }
  %body
    = yield
